
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.contact-E89 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .header-mNy {
    padding: 2.9rem 3.2rem;
    width: 100%;
    height: 10rem;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;

    .group-168-i3K {
      width: 123.5rem;
      height: 100%;
      position: relative;

      .group-2-4N5 {
        align-items: center;
        width: 43rem;
        height: 2.4rem;
        position: absolute;
        left: 47.3rem;
        top: 0.9rem;
        display: flex;

        .home-NtZ {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 7.5rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .service-hfw {
          flex-shrink: 0;
          margin-right: 5.9rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .about-qXF {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 7.5rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .contact-P2y {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
        }
      }
      .group-1-WtH {
        position: absolute;
        top: 0;
        align-items: center;
        height: 4.2rem;
        left: 0;
        display: flex;
        box-sizing: border-box;
        padding-right: 0.2334rem;
        width: 123.5rem;

        .frame-168-3NR {
          align-items: center;
          flex-shrink: 0;
          margin-right: 90.7333rem;
          height: 100%;
          display: flex;

          .meubel-houselogos-05-PBP {
            background-position: -1.3rem -2.2rem;
            background-image: url('REPLACE_IMAGE:1a36f67704b2e2dfdc245914b86fcc3e530004b9');
            flex-shrink: 0;
            margin: 0rem 0.5rem 0.1rem 0rem;
            width: 5rem;
            height: 3.2rem;
            position: relative;
            background-size: 154% 240.625%;
          }
          .skinclinic-Np1 {
            font-weight: 700;
            line-height: 1.2175;
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.4rem;
          }
        }
        .akar-icons-search-W9X {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 5.083rem 0.117rem 0rem;
          width: 2.2167rem;
          height: 2.2167rem;
          object-fit: contain;
        }
        .akar-icons-heart-1MB {
          width: 2.3333rem;
          height: 2.0806rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.0194rem;
        }
      }
    }
  }
  .group-78-Woj {
    box-sizing: border-box;
    background-position: center;
    background-image: url('REPLACE_IMAGE:1461f3d6ff74c027a1888544144abe4be6e02cbf');
    display: flex;
    flex-direction: column;
    filter: blur(0.3rem);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 6.1rem 62.2rem 9.7rem 62.2rem;
    width: 100%;
    align-items: center;
    flex-shrink: 0;

    .group-55-qr1 {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 100%;
      height: 13.3rem;

      .contact-zD7 {
        white-space: nowrap;
        left: 0;
        top: 6.1rem;
        font-size: 4.8rem;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        width: 19.6rem;
        height: 7.2rem;
        position: absolute;
        font-weight: 500;
      }
      .meubel-houselogos-05-6X3 {
        object-fit: cover;
        vertical-align: top;
        width: 7.7rem;
        height: 7.7rem;
        position: absolute;
        left: 6rem;
        top: 0;
      }
    }
    .group-56-owF {
      margin: 0rem 1.3rem 0rem 3.8rem;
      width: calc(100% - 5.1rem);
      display: flex;
      column-gap: 1.2rem;
      align-items: center;
      flex-shrink: 0;

      .home-LAV {
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
      }
      .dashicons-arrow-down-alt2-gEM {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 0.8rem;
        height: 1.4rem;
      }
      .contact-opm {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 300;
      }
    }
  }
  .group-162-hv9 {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 9.8rem 19.1rem 0rem 19.1rem;
    width: 100%;

    .get-in-touch-with-us-S73 {
      flex-shrink: 0;
      margin: 0rem 0rem 0.7rem 0.1rem;
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .for-more-information-about-our-product-services-please-feel-free-to-drop-us-an-email-our-staff-always-be-there-to-help-you-out-do-not-hesitate-kNd {
      font-size: 1.6rem;
      line-height: 1.5;
      color: #9f9f9f;
      font-family: Poppins, 'Source Sans Pro';
      max-width: 62.8rem;
      text-align: center;
      font-weight: 400;
      flex-shrink: 0;
      margin-bottom: 1.4rem;
    }
    .group-161-1ZT {
      height: 92.3rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      width: 100%;

      .group-155-kX3 {
        box-sizing: border-box;
        width: 39.3rem;
        align-items: center;
        margin: 6.8rem 3rem 0rem 0rem;
        padding: 4.612rem 7.4rem 4.7rem 4.975rem;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;

        .auto-group-nxv1-eMX {
          margin: 0rem 11.4rem 0rem 0.425rem;
          width: calc(100% - 11.825rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .vector-yPo {
            margin-right: 3rem;
            width: 2.2rem;
            height: 2.7592rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .address-icH {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 1.188rem;
          }
        }
        .online-job-TJy {
          flex-shrink: 0;
          margin: 0rem 7.175rem 9rem 0rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-1gkb-yYD {
          width: calc(100% - 13.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 13.7rem;

          .bxs-phone-vTT {
            flex-shrink: 0;
            margin: 0.023rem 3.398rem 0rem 0rem;
            width: 2.2269rem;
            height: 2.2268rem;
            object-fit: contain;
            vertical-align: top;
          }
          .phone-SRo {
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .mobile-0895635367431-nEm {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 6.6rem 2.725rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .auto-group-e1y5-Vey {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 4.7rem 0rem 0.325rem;
          width: calc(100% - 5.025rem);

          .bi-clock-fill-2eu {
            margin: 0rem 3rem 0.1rem 0rem;
            width: 2.3rem;
            height: 2.3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .working-time-Z93 {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.5;
          }
        }
        .monday-friday-9-00-22-00-saturday-sunday-9-00-21-00-tx1 {
          flex-shrink: 0;
          margin-left: 5.625rem;
          max-width: 21.3rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .group-160-PNy {
        box-sizing: border-box;
        padding: 11.9rem 5.2rem 6.3rem 5.2rem;
        width: 63.5rem;
        height: 100%;
        background-color: #ffffff;
        flex-shrink: 0;

        .group-159-iw3 {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;

          .group-112-sow {
            margin: 0rem 0rem 3.6rem 0.1rem;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            flex-shrink: 0;

            .your-name-2B3 {
              margin-bottom: 2.2rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-hejm-x4h {
              margin-left: 0.125rem;
              width: 52.875rem;
              font-family: Poppins, 'Source Sans Pro';
              background-color: #ffffff;
              padding: 2.6rem 2.975rem 2.5rem 2.975rem;
              font-weight: 400;
              color: #9f9f9f;
              white-space: nowrap;
              box-sizing: border-box;
              font-size: 1.6rem;
              line-height: 1.5;
              border: solid 0.1rem #9f9f9f;
              border-radius: 1rem;
              flex-shrink: 0;
            }
          }
          .group-113-Nu7 {
            flex-shrink: 0;
            margin: 0rem 0rem 3.6rem 0.1rem;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;

            .email-address-7bo {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.2rem;
            }
            .auto-group-j95d-3kM {
              box-sizing: border-box;
              width: 52.875rem;
              font-weight: 400;
              line-height: 1.5;
              border-radius: 1rem;
              padding: 2.6rem 2.975rem 2.5rem 2.975rem;
              font-family: Poppins, 'Source Sans Pro';
              margin-left: 0.125rem;
              font-size: 1.6rem;
              color: #9f9f9f;
              border: solid 0.1rem #9f9f9f;
              background-color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .group-156-h4D {
            margin: 0rem 0rem 3.6rem 0.3rem;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            flex-shrink: 0;

            .subject-SGh {
              flex-shrink: 0;
              margin-bottom: 2.2rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-yu7u-Ng9 {
              line-height: 1.5;
              color: #9f9f9f;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              width: 52.6755rem;
              font-weight: 400;
              flex-shrink: 0;
              margin-left: 0.1245rem;
              box-sizing: border-box;
              padding: 2.6rem 2.975rem 2.5rem 2.975rem;
              font-size: 1.6rem;
              border: solid 0.1rem #9f9f9f;
              background-color: #ffffff;
              border-radius: 1rem;
            }
          }
          .group-157-qJq {
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 4.9rem;
            display: flex;
            flex-direction: column;

            .message-Pr9 {
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2.2rem;
              font-size: 1.6rem;
              font-weight: 500;
            }
            .auto-group-ror5-Wfs {
              flex-shrink: 0;
              margin-left: 0.1rem;
              padding: 2.6rem 3rem;
              width: 52.7rem;
              height: 12rem;
              line-height: 1.5;
              white-space: nowrap;
              box-sizing: border-box;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.6rem;
              color: #9f9f9f;
              border: solid 0.1rem #9f9f9f;
              background-color: #ffffff;
              font-weight: 400;
              border-radius: 1rem;
            }
          }
          .group-21-8x9 {
            line-height: 1.5;
            white-space: nowrap;
            flex-shrink: 0;
            color: #ffffff;
            align-items: center;
            border-radius: 0.5rem;
            margin-left: 0.7rem;
            width: 23.7rem;
            height: 5.5rem;
            font-size: 1.6rem;
            justify-content: center;
            box-sizing: border-box;
            font-weight: 400;
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            border: solid 0.1rem #b88e2f;
            background-color: #b88e2f;
          }
        }
      }
    }
  }
  .frame-161-Z1s {
    margin-bottom: 3rem;
    box-sizing: border-box;
    padding: 10rem 5.3rem;
    width: 100%;
    height: 27rem;
    background-color: #faf3ea;
    flex-shrink: 0;

    .feature-HTf {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .frame-5-2w3 {
        align-items: center;
        flex-shrink: 0;
        margin-right: 73.7rem;
        box-sizing: border-box;
        padding-left: 0.3614rem;
        height: 100%;
        display: flex;

        .trophy-1-ahf {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.3614rem;
          width: 5.2771rem;
          height: 6rem;
          object-fit: contain;
        }
        .text-WbK {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .high-quality-GaV {
            margin-bottom: 0.2rem;
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 1.5;
            color: #242424;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .crafted-from-top-materials-Cj3 {
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #898989;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .frame-4-LKT {
        box-sizing: border-box;
        padding-left: 0.3529rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .customer-support-HkV {
          margin-right: 1.3529rem;
          width: 5.2941rem;
          height: 6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .text-q1K {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .support-oD3 {
            font-weight: 600;
            line-height: 1.5;
            color: #242424;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            font-size: 2.5rem;
          }
          .dedicated-support-w4M {
            font-weight: 500;
            line-height: 1.5;
            color: #898989;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
          }
        }
      }
    }
  }
  .footer-THb {
    box-sizing: border-box;
    padding: 4.8rem 9.999rem 3.8rem 10rem;
    width: 100%;
    height: 50.5rem;
    border: solid 0 rgba(0, 0, 0, 0.1700000018);
    background-color: #ffffff;
    flex-shrink: 0;

    .group-45-nam {
      flex-direction: column;
      width: 100%;
      height: 100%;
      display: flex;

      .group-32-k1o {
        margin: 0rem 10.7rem 4.8rem 0rem;
        width: calc(100% - 10.7003rem);
        height: 31.2rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-qm7h-feZ {
          flex-shrink: 0;
          margin-right: 23.8rem;
          display: flex;
          flex-direction: column;

          .javaarchi-DAH {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 5rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
          }
          .smk-media-informatika-YiM {
            color: #9f9f9f;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.2008rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.5;
          }
        }
        .group-31-Uc1 {
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .group-28-39K {
            flex-shrink: 0;
            margin-right: 7.2rem;
            height: 100%;
            display: flex;
            align-items: flex-start;

            .group-26-nsb {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 14.4rem;
              height: 100%;
              display: flex;

              .links-MQu {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 5.5rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
              }
              .group-24-6NV {
                flex-shrink: 0;
                margin-left: 0.2rem;
                display: flex;
                flex-direction: column;

                .home-3Yd {
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                }
                .service-aoT {
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                }
                .about-v6d {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 4.5rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .contact-f4D {
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                }
              }
            }
            .group-27-ned {
              width: 14rem;
              flex-shrink: 0;

              .help-9k5 {
                color: #9f9f9f;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 5.5rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.5;
              }
              .group-25-thf {
                width: 100%;
                display: flex;
                flex-direction: column;

                .payment-options-3aZ {
                  flex-shrink: 0;
                  margin-bottom: 4.6rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .returns-yj7 {
                  margin-bottom: 4.5rem;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .privacy-policies-86D {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
            }
          }
          .group-30-TPP {
            margin-top: 0.2rem;
            width: 28.6004rem;
            flex-shrink: 0;

            .newsletter-QZX {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 5.3rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #9f9f9f;
            }
            .group-29-Lxy {
              display: flex;
              flex-direction: column;
              width: 100%;
              align-items: center;

              .auto-group-82sw-7D3 {
                margin: 0rem 0rem 0.3rem 0rem;
                width: calc(100% - 0.0004rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .enter-your-email-address-SWD {
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #9f9f9f;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 3.8rem;
                }
                .subscribe-nCh {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .auto-group-anbd-hqT {
                width: 100%;
                height: 0.1rem;
                border-top: solid 0.1rem #000000;
                box-sizing: border-box;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .group-44-bvq {
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        border-top: solid 0.1rem #d9d9d9;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        padding: 3.5rem 0.201rem 0rem 0.201rem;
      }
    }
  }
}
