
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.blog--YFb {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.blog--YFb .header-UQ9 {
  box-sizing: border-box;
  padding: 2.9rem 3.2rem;
  width: 100%;
  height: 10rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.blog--YFb .header-UQ9 .group-168-Cqw {
  width: 123.5rem;
  height: 100%;
  position: relative;
}
.blog--YFb .header-UQ9 .group-168-Cqw .group-2-x4R {
  width: 43rem;
  height: 2.4rem;
  position: absolute;
  left: 47.3rem;
  top: 0.9rem;
  display: flex;
  align-items: center;
}
.blog--YFb .header-UQ9 .group-168-Cqw .group-2-x4R .home-UHf {
  margin-right: 7.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .header-UQ9 .group-168-Cqw .group-2-x4R .service-o53 {
  margin-right: 5.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .header-UQ9 .group-168-Cqw .group-2-x4R .about-Y2d {
  margin-right: 7.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .header-UQ9 .group-168-Cqw .group-2-x4R .contact-Ugy {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .header-UQ9 .group-168-Cqw .group-1-QKj {
  box-sizing: border-box;
  padding-right: 0.2334rem;
  width: 123.5rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.blog--YFb .header-UQ9 .group-168-Cqw .group-1-QKj .frame-168-Wdf {
  margin-right: 90.7333rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.blog--YFb .header-UQ9 .group-168-Cqw .group-1-QKj .frame-168-Wdf .meubel-houselogos-05-Too {
  margin: 0rem 0.5rem 0.1rem 0rem;
  width: 5rem;
  height: 3.2rem;
  position: relative;
  background-size: 154% 240.625%;
  background-position: -1.3rem -2.2rem;
  background-image: url('../assets/meubel-houselogos-05-Mku.png');
  flex-shrink: 0;
}
.blog--YFb .header-UQ9 .group-168-Cqw .group-1-QKj .frame-168-Wdf .skinclinic-8Q9 {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .header-UQ9 .group-168-Cqw .group-1-QKj .akar-icons-search-fQ5 {
  margin: 0rem 5.083rem 0.117rem 0rem;
  width: 2.2167rem;
  height: 2.2167rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.blog--YFb .header-UQ9 .group-168-Cqw .group-1-QKj .akar-icons-heart-Ard {
  margin-bottom: 0.0194rem;
  width: 2.3333rem;
  height: 2.0806rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.blog--YFb .group-78-5To {
  box-sizing: border-box;
  padding: 6.1rem 66.5rem 9.7rem 66rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  filter: blur(0.3rem);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg.png');
  flex-shrink: 0;
}
.blog--YFb .group-78-5To .group-55-QW5 {
  margin: 0rem 0rem 0.1rem 0.6rem;
  width: 10.7rem;
  height: 13.3rem;
  position: relative;
  flex-shrink: 0;
}
.blog--YFb .group-78-5To .group-55-QW5 .blog-jHT {
  width: 10.7rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 6.1rem;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.blog--YFb .group-78-5To .group-55-QW5 .meubel-houselogos-05-qrH {
  width: 7.7rem;
  height: 7.7rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.blog--YFb .group-78-5To .group-56-Adf {
  width: 100%;
  display: flex;
  column-gap: 1.2rem;
  align-items: center;
  flex-shrink: 0;
}
.blog--YFb .group-78-5To .group-56-Adf .home-WSd {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .group-78-5To .group-56-Adf .dashicons-arrow-down-alt2-Fv1 {
  width: 0.8rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.blog--YFb .group-78-5To .group-56-Adf .blog-biy {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .group-185-6vd {
  margin-bottom: 5.8rem;
  box-sizing: border-box;
  padding: 8.4rem 10rem 0rem 10rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.blog--YFb .group-185-6vd .auto-group-a4so-dff {
  margin-bottom: 174.9rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog--YFb .group-185-6vd .auto-group-a4so-dff .group-176-Nt9 {
  margin: 2.2rem 3rem 0rem 0rem;
  width: 81.7rem;
  height: 79.5rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.blog--YFb .group-185-6vd .auto-group-a4so-dff .group-176-Nt9 .group-173-K2h {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1rem;
}
.blog--YFb .group-185-6vd .auto-group-a4so-dff .group-176-Nt9 .group-173-K2h .java-architecture-4FB {
  width: 30.8rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 55.6rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.blog--YFb .group-185-6vd .auto-group-a4so-dff .group-176-Nt9 .group-173-K2h .java-architecture-is-a-service-that-specializes-in-interior-and-exterior-design-services-architectural-services-and-more-with-a-theme-inspired-by-javanese-and-local-traditions-NFs {
  width: 80.3rem;
  height: 4.5rem;
  position: absolute;
  left: 0;
  top: 61.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
}
.blog--YFb .group-185-6vd .auto-group-a4so-dff .group-176-Nt9 .group-173-K2h .rectangle-68-1Zj {
  width: 81.7rem;
  height: 50rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-68-bg.png');
  border-radius: 1rem;
}
.blog--YFb .group-185-6vd .auto-group-a4so-dff .group-176-Nt9 .group-173-K2h .group-170-7sf {
  width: 8.9rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 75.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.1rem #000000;
  box-sizing: border-box;
}
.blog--YFb .group-185-6vd .auto-group-a4so-dff .group-171-LkR {
  box-sizing: border-box;
  padding: 2.2rem 4.1rem;
  width: 39.3rem;
  height: 53.7rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.blog--YFb .group-185-6vd .auto-group-a4so-dff .group-171-LkR .group-164-rCy {
  margin-bottom: 43.5rem;
  box-sizing: border-box;
  padding: 1.9rem 1.3rem 2rem 27.9rem;
  width: 100%;
  height: 5.8rem;
  border: solid 0.1rem #9f9f9f;
  background-color: #ffffff;
  border-radius: 1rem;
}
.blog--YFb .group-185-6vd .auto-group-a4so-dff .group-171-LkR .group-164-rCy .akar-icons-search-Ldw {
  width: 1.9rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
}
.blog--YFb .group-185-6vd .group-72-3HT {
  margin: 0rem 75.6rem 0rem 42.4rem;
  width: calc(100% - 118rem);
  height: 6rem;
  border-radius: 1rem;
  flex-shrink: 0;
}
.blog--YFb .group-185-6vd .group-72-3HT .group-68-NqX {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b88e2f;
  border-radius: 1rem;
}
.blog--YFb .frame-161-rEu {
  margin-bottom: 2.2rem;
  box-sizing: border-box;
  padding: 10rem 5.3rem 8.5rem 5.3rem;
  width: 100%;
  height: 27rem;
  background-color: #faf3ea;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.blog--YFb .frame-161-rEu .feature-NU9 .frame-5-Xbw {
  margin-right: 5.4333rem;
  box-sizing: border-box;
  padding-left: 0.3614rem;
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .frame-5-Xbw .trophy-1-ZHj {
  margin-right: 1.3614rem;
  width: 5.2771rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .frame-5-Xbw .text-HjX {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .frame-5-Xbw .text-HjX .high-quality-T8D {
  margin-bottom: 0.2rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #242424;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .frame-5-Xbw .text-HjX .crafted-from-top-materials-z89 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .frame-19-7yT {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .frame-19-7yT .guarantee-shj {
  margin: 0.594rem 0.1rem 0rem 0rem;
  width: 6rem;
  height: 5.8125rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .frame-19-7yT .auto-group-fcfm-zXT {
  box-sizing: border-box;
  padding-left: 0.9rem;
  width: 26.7rem;
  height: 100%;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .frame-19-7yT .auto-group-fcfm-zXT .text-LrD {
  width: 100%;
  height: 7rem;
  display: flex;
  flex-direction: column;
}
.blog--YFb .frame-161-rEu .feature-NU9 .frame-19-7yT .auto-group-fcfm-zXT .text-LrD .warranty-protection-6aV {
  margin-bottom: 0.2rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #242424;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .frame-19-7yT .auto-group-fcfm-zXT .text-LrD .over-2-years-EAu {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .auto-group-f19m-AaM {
  box-sizing: border-box;
  padding-left: 5.5334rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .auto-group-f19m-AaM .frame-2-i65 {
  margin-right: 5.5333rem;
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .auto-group-f19m-AaM .frame-2-i65 .shipping-ri5 {
  margin-right: 1rem;
  width: 6rem;
  height: 5.5971rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .auto-group-f19m-AaM .frame-2-i65 .text-Pi1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .auto-group-f19m-AaM .frame-2-i65 .text-Pi1 .free-shipping-XpD {
  margin-bottom: 0.2rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #242424;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .auto-group-f19m-AaM .frame-2-i65 .text-Pi1 .order-over-150--UDf {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .auto-group-f19m-AaM .frame-4-1Db {
  box-sizing: border-box;
  padding-left: 0.3529rem;
  height: 7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .auto-group-f19m-AaM .frame-4-1Db .customer-support-jvH {
  margin-right: 1.3529rem;
  width: 5.2941rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .auto-group-f19m-AaM .frame-4-1Db .text-5DT {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .auto-group-f19m-AaM .frame-4-1Db .text-5DT .support-qiR {
  margin-bottom: 0.2rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #242424;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .frame-161-rEu .feature-NU9 .auto-group-f19m-AaM .frame-4-1Db .text-5DT .dedicated-support-z5X {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh {
  box-sizing: border-box;
  padding: 4.8rem 9.999rem 3.8rem 10rem;
  width: 100%;
  height: 50.5rem;
  border: solid 0 rgba(0, 0, 0, 0.1700000018);
  background-color: #ffffff;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D {
  margin: 0rem 10.7rem 4.8rem 0rem;
  width: calc(100% - 10.7003rem);
  height: 31.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .auto-group-yzu7-YFT {
  margin-right: 23.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .auto-group-yzu7-YFT .javaarchi-h8M {
  margin-bottom: 5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .auto-group-yzu7-YFT .smk-media-informatika-Ee5 {
  margin-left: 0.2008rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq {
  margin-right: 7.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq .group-26-tTj {
  margin-right: 14.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq .group-26-tTj .links-EnV {
  margin-bottom: 5.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq .group-26-tTj .group-24-yVB {
  margin-left: 0.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq .group-26-tTj .group-24-yVB .home-vfK {
  margin-bottom: 4.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq .group-26-tTj .group-24-yVB .service-saZ {
  margin-bottom: 4.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq .group-26-tTj .group-24-yVB .about-oj7 {
  margin-bottom: 4.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq .group-26-tTj .group-24-yVB .contact-9ny {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq .group-27-hJh {
  width: 14rem;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq .group-27-hJh .help-Fr1 {
  margin-bottom: 5.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq .group-27-hJh .group-25-CmF {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq .group-27-hJh .group-25-CmF .payment-options-xkR {
  margin-bottom: 4.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq .group-27-hJh .group-25-CmF .returns-te5 {
  margin-bottom: 4.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-28-jaq .group-27-hJh .group-25-CmF .privacy-policies-qJR {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-30-y9j {
  margin-top: 0.2rem;
  width: 28.6004rem;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-30-y9j .newsletter-WvM {
  margin-bottom: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-30-y9j .group-29-Fsw {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-30-y9j .group-29-Fsw .auto-group-efvt-o8m {
  margin: 0rem 0rem 0.3rem 0rem;
  width: calc(100% - 0.0004rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-30-y9j .group-29-Fsw .auto-group-efvt-o8m .enter-your-email-address-XaZ {
  margin-right: 3.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-30-y9j .group-29-Fsw .auto-group-efvt-o8m .subscribe-GHF {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-32-22D .group-31-And .group-30-y9j .group-29-Fsw .auto-group-2ecs-p3s {
  width: 100%;
  height: 0.1rem;
  border-top: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.blog--YFb .footer-KNh .group-45-Fn9 .group-44-XU5 {
  box-sizing: border-box;
  padding: 3.5rem 0.201rem 0rem 0.201rem;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border-top: solid 0.1rem #d9d9d9;
  flex-shrink: 0;
}
