
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home-dKw {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.home-dKw .banner-wrR {
  width: 100%;
  height: 81.2533rem;
  position: relative;
  flex-shrink: 0;
}
.home-dKw .banner-wrR .header-JBB {
  box-sizing: border-box;
  padding: 2.9rem 3.2rem;
  width: 144rem;
  height: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.home-dKw .banner-wrR .header-JBB .group-168-Dow {
  width: 123.5rem;
  height: 100%;
  position: relative;
}
.home-dKw .banner-wrR .header-JBB .group-168-Dow .group-2-yHK {
  width: 43rem;
  height: 2.4rem;
  position: absolute;
  left: 47.3rem;
  top: 0.9rem;
  display: flex;
  align-items: center;
}
.home-dKw .banner-wrR .header-JBB .group-168-Dow .group-2-yHK .home-TTP {
  margin-right: 7.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .banner-wrR .header-JBB .group-168-Dow .group-2-yHK .service-wNZ {
  margin-right: 5.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .banner-wrR .header-JBB .group-168-Dow .group-2-yHK .about-EcZ {
  margin-right: 7.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .banner-wrR .header-JBB .group-168-Dow .group-2-yHK .contact-L9o {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .banner-wrR .header-JBB .group-168-Dow .group-1-fSy {
  box-sizing: border-box;
  padding-right: 0.2333rem;
  width: 123.5rem;
  height: 4.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.home-dKw .banner-wrR .header-JBB .group-168-Dow .group-1-fSy .frame-168-nGh {
  margin-right: 90.7333rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-dKw .banner-wrR .header-JBB .group-168-Dow .group-1-fSy .frame-168-nGh .meubel-houselogos-05-Xzy {
  margin: 0rem 0.5rem 0.1rem 0rem;
  width: 5rem;
  height: 3.2rem;
  position: relative;
  background-size: 154% 240.625%;
  background-position: -1.3rem -2.2rem;
  background-image: url('../assets/meubel-houselogos-05-Tow.png');
  flex-shrink: 0;
}
.home-dKw .banner-wrR .header-JBB .group-168-Dow .group-1-fSy .frame-168-nGh .skinclinic-19T {
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .banner-wrR .header-JBB .group-168-Dow .group-1-fSy .akar-icons-search-XNh {
  margin: 0rem 5.083rem 0.117rem 0rem;
  width: 2.2167rem;
  height: 2.2167rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .banner-wrR .header-JBB .group-168-Dow .group-1-fSy .akar-icons-heart-2qF {
  margin-bottom: 0.0194rem;
  width: 2.3333rem;
  height: 2.0806rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .banner-wrR .mask-group-jzZ {
  width: 144rem;
  height: 71.6828rem;
  position: absolute;
  left: 0;
  top: 9.5705rem;
  object-fit: contain;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb {
  box-sizing: border-box;
  padding: 5.647rem 10rem 6.9rem 10.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .group-115-C7T {
  margin: 0rem 2.6rem 6.2rem 2.9rem;
  width: calc(100% - 5.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .group-115-C7T .group-107-irV {
  margin: 0rem 31.8rem 6.1rem 33rem;
  width: calc(100% - 64.8rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .group-115-C7T .group-107-irV .service-fFw {
  margin-right: 0.1rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #333333;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .group-115-C7T .group-107-irV .treating-all-skin-co-zp1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666666;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .group-115-C7T .auto-group-f47m-jWh {
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .group-115-C7T .auto-group-f47m-jWh .mask-group-fv9 {
  width: 38.1rem;
  height: 48rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .group-115-C7T .auto-group-f47m-jWh .image-living-room-2Eu {
  width: 38.1rem;
  height: 48rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .group-115-C7T .auto-group-f47m-jWh .mask-group-xuF {
  width: 38.1rem;
  height: 48rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .group-115-C7T .auto-group-2bxf-WQy {
  margin: 0rem 11.7rem 0rem 7.7rem;
  width: calc(100% - 19.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .group-115-C7T .auto-group-2bxf-WQy .d-interior-and-exterior-RXw {
  margin-right: 22.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666666;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .group-115-C7T .auto-group-2bxf-WQy .d-animation-joX {
  margin-right: 26.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666666;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .group-115-C7T .auto-group-2bxf-WQy .vr-3d-interactif-fSH {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666666;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw {
  width: 100%;
  row-gap: 3.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .title-LHX {
  margin-left: 0.3rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #3a3a3a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q {
  width: 100%;
  height: 44.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb {
  margin-right: 3.2rem;
  width: 28.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb .bg-mNq {
  width: 28.5rem;
  height: 14.5rem;
  position: absolute;
  left: 0;
  top: 30.1rem;
  background-color: #f4f5f7;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb .product-name-ujw {
  width: 13.8rem;
  height: 6.1rem;
  position: absolute;
  left: 1.6rem;
  top: 31.7rem;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb .product-name-ujw .product-name-dvq {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #3a3a3a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb .product-name-ujw .sort-description-Afs {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb .images-WUq {
  width: 28.7rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb .images-WUq .image-8-FSR {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb .images-WUq .image-7-CMf {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb .images-WUq .image-6-9Gu {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb .images-WUq .image-5-Vbf {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb .images-WUq .image-4-qfX {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb .images-WUq .image-3-b8u {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb .images-WUq .image-2-8uX {
  width: 28.4rem;
  height: 30.1rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-pTb .images-WUq .image-1-ss7 {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-bHK {
  margin-right: 3rem;
  width: 28.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-bHK .bg-jeR {
  width: 28.5rem;
  height: 14.5rem;
  position: absolute;
  left: 0;
  top: 30.1rem;
  background-color: #f4f5f7;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-bHK .product-name-tGR {
  width: 13.8rem;
  height: 6.1rem;
  position: absolute;
  left: 1.6rem;
  top: 31.7rem;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-bHK .product-name-tGR .product-name-2Nd {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #3a3a3a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-bHK .product-name-tGR .sort-description-mLD {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-bHK .images-iFT {
  width: 28.7rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-bHK .images-iFT .image-8-EUh {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-bHK .images-iFT .image-7-mzR {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-bHK .images-iFT .image-6-Km3 {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-bHK .images-iFT .image-5-UP3 {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-bHK .images-iFT .image-4-RJH {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-bHK .images-iFT .image-3-9VB {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-bHK .images-iFT .image-2-txZ {
  width: 28.4rem;
  height: 30.1rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-EFj {
  margin-right: 3rem;
  width: 28.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-EFj .bg-nHF {
  width: 28.5rem;
  height: 14.5rem;
  position: absolute;
  left: 0;
  top: 30.1rem;
  background-color: #f4f5f7;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-EFj .product-name-jCV {
  width: 12.1rem;
  height: 6.1rem;
  position: absolute;
  left: 1.6rem;
  top: 31.7rem;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-EFj .product-name-jCV .product-name-GCR {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #3a3a3a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-EFj .product-name-jCV .sort-description-1A1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-EFj .images-k7b {
  width: 28.7rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-EFj .images-k7b .image-8-6BT {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-EFj .images-k7b .image-7-2qo {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-EFj .images-k7b .image-6-nKB {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-EFj .images-k7b .image-5-vRP {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-EFj .images-k7b .image-4-USu {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-EFj .images-k7b .image-3-dKo {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-y8m {
  width: 28.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-y8m .bg-vJu {
  width: 28.5rem;
  height: 14.5rem;
  position: absolute;
  left: 0;
  top: 30.1rem;
  background-color: #f4f5f7;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-y8m .product-name-U5X {
  width: 22.4rem;
  height: 6.1rem;
  position: absolute;
  left: 1.6rem;
  top: 31.7rem;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-y8m .product-name-U5X .product-name-CnD {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #3a3a3a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-y8m .product-name-U5X .sort-description-wUu {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-y8m .images-gBb {
  width: 28.7rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-7-U8q .featured-products-y8m .images-gBb .image-4-d6q {
  width: 28.5rem;
  height: 30.1rem;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 {
  width: 100%;
  height: 44.6rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-WwK {
  width: 28.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-WwK .bg-s1B {
  width: 28.5rem;
  height: 14.5rem;
  position: absolute;
  left: 0;
  top: 30.1rem;
  background-color: #f4f5f7;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-WwK .product-name-ofX {
  width: 9rem;
  height: 6.1rem;
  position: absolute;
  left: 1.6rem;
  top: 31.7rem;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-WwK .product-name-ofX .product-name-8xh {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #3a3a3a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-WwK .product-name-ofX .sort-description-tBB {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-WwK .images-2YH {
  width: 28.7rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-WwK .images-2YH .image-8-APb {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-WwK .images-2YH .image-7-7Zj {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-WwK .images-2YH .image-6-4Uy {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-WwK .images-2YH .image-5-D6y {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-Miy {
  width: 28.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-Miy .bg-Ju7 {
  width: 28.5rem;
  height: 14.5rem;
  position: absolute;
  left: 0;
  top: 30.1rem;
  background-color: #f4f5f7;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-Miy .product-name-rfj {
  width: 8.8rem;
  height: 6.1rem;
  position: absolute;
  left: 1.6rem;
  top: 31.7rem;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-Miy .product-name-rfj .product-name-zX3 {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #3a3a3a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-Miy .product-name-rfj .sort-description-jUd {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-Miy .images-5Hb {
  width: 28.7rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-Miy .images-5Hb .image-8-Deh {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-Miy .images-5Hb .image-7-ZTf {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-Miy .images-5Hb .image-6-Jw3 {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-49X {
  width: 28.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-49X .bg-QjB {
  width: 28.5rem;
  height: 14.5rem;
  position: absolute;
  left: 0;
  top: 30.1rem;
  background-color: #f4f5f7;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-49X .product-name-MuK {
  width: 10.3rem;
  height: 6.1rem;
  position: absolute;
  left: 1.6rem;
  top: 31.7rem;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-49X .product-name-MuK .product-name-WGR {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #3a3a3a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-49X .product-name-MuK .sort-description-FE1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-49X .images-zBb {
  width: 28.7rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-49X .images-zBb .image-8-hLu {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-49X .images-zBb .image-7-S3b {
  width: 28.5rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-yZK {
  width: 28.7rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-yZK .bg-8SD {
  width: 28.5rem;
  height: 14.5rem;
  position: absolute;
  left: 0;
  top: 30.1rem;
  background-color: #f4f5f7;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-yZK .product-name-gCq {
  width: 16.8rem;
  height: 6.1rem;
  position: absolute;
  left: 1.6rem;
  top: 31.7rem;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-yZK .product-name-gCq .product-name-QuX {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2000000477;
  color: #3a3a3a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-yZK .product-name-gCq .sort-description-MJy {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #898989;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-yZK .images-Vg5 {
  width: 28.7rem;
  height: 30.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .frame-8-a25 .featured-products-yZK .images-Vg5 .image-8-2vu {
  width: 28.5rem;
  height: 30.1rem;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .auto-group-csls-Gjb .our-products-bKw .show-more-Zvq {
  margin: 0rem 49.7rem 0rem 49.6rem;
  width: calc(100% - 99.3rem);
  height: 4.8rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #b88e2f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #b88e2f;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH {
  margin-bottom: 6.7rem;
  box-sizing: border-box;
  padding: 4.4rem 0rem 4.4rem 10rem;
  width: 100%;
  height: 67rem;
  display: flex;
  align-items: center;
  background-color: #fbf7f3;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .auto-group-vvnb-XFP {
  margin: 17.9rem 4.2rem 17.9rem 0rem;
  width: 42.2rem;
  height: calc(100% - 35.8rem);
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .auto-group-vvnb-XFP .title-2xq {
  margin-bottom: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-dKw .inspirations-oaH .auto-group-vvnb-XFP .title-2xq .title-bFF {
  margin-bottom: 0.7rem;
  max-width: 42.2rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #3a3a3a;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .auto-group-vvnb-XFP .title-2xq .subtitle-Kh3 {
  max-width: 36.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #606060;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .auto-group-vvnb-XFP .cta-4Pj {
  width: 17.6rem;
  height: 4.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b88e2f;
}
.home-dKw .inspirations-oaH .products-Z5b {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .image-7cu {
  box-sizing: border-box;
  padding: 42.8rem 11.5rem 2.4rem 2.4rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-24-bg.png');
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .image-7cu .content-ecq {
  box-sizing: border-box;
  padding: 3.2rem 1.7rem 3.2rem 3.2rem;
  width: 21.7rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(1.6rem);
  background-color: rgba(255, 255, 255, 0.7200000286);
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .image-7cu .content-ecq .frame-3-Ar5 {
  margin: 0rem 2.6rem 0.8rem 0rem;
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .image-7cu .content-ecq .frame-3-Ar5 .item-01-Hvh {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #606060;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .image-7cu .content-ecq .frame-3-Ar5 .vector-1-39B {
  width: 2.7rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .image-7cu .content-ecq .frame-3-Ar5 .bed-room-ncZ {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #606060;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .image-7cu .content-ecq .inner-peace-vyf {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2000000817;
  color: #3a3a3a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .image-7cu .cta-dNH {
  width: 4.8rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .auto-group-sxzh-YVF {
  box-sizing: border-box;
  padding-left: 2.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .auto-group-sxzh-YVF .auto-group-n9bq-Hhj {
  margin-right: 0.3rem;
  width: 39.3rem;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .auto-group-sxzh-YVF .auto-group-n9bq-Hhj .auto-group-jhnt-Ecy {
  margin-bottom: 4rem;
  width: 100%;
  height: 48.6rem;
  position: relative;
}
.home-dKw .inspirations-oaH .products-Z5b .auto-group-sxzh-YVF .auto-group-n9bq-Hhj .auto-group-jhnt-Ecy .rectangle-25-nPb {
  width: 37.2rem;
  height: 48.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .inspirations-oaH .products-Z5b .auto-group-sxzh-YVF .auto-group-n9bq-Hhj .auto-group-jhnt-Ecy .group-13-io3 {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  left: 34.5rem;
  top: 26.7rem;
  object-fit: contain;
  vertical-align: top;
}
.home-dKw .inspirations-oaH .products-Z5b .auto-group-sxzh-YVF .auto-group-n9bq-Hhj .indicator-3qK {
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.home-dKw .inspirations-oaH .products-Z5b .auto-group-sxzh-YVF .auto-group-n9bq-Hhj .indicator-3qK .active-QA5 {
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .auto-group-sxzh-YVF .auto-group-n9bq-Hhj .indicator-3qK .ellipse-1-MLD {
  width: 1.1rem;
  height: 1.1rem;
  background-color: #d8d8d8;
  border-radius: 0.55rem;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .auto-group-sxzh-YVF .auto-group-n9bq-Hhj .indicator-3qK .ellipse-2-tqw {
  width: 1.1rem;
  height: 1.1rem;
  background-color: #d8d8d8;
  border-radius: 0.55rem;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .auto-group-sxzh-YVF .auto-group-n9bq-Hhj .indicator-3qK .ellipse-3-3D3 {
  width: 1.1rem;
  height: 1.1rem;
  background-color: #d8d8d8;
  border-radius: 0.55rem;
  flex-shrink: 0;
}
.home-dKw .inspirations-oaH .products-Z5b .auto-group-sxzh-YVF .rectangle-26-z8H {
  width: 37.2rem;
  height: 48.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .share-Vaq {
  margin-bottom: 5rem;
  width: 100%;
  height: 78rem;
  position: relative;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF {
  width: 179.9rem;
  height: 72.1rem;
  position: absolute;
  left: 0;
  top: 5.9rem;
  display: flex;
  align-items: center;
}
.home-dKw .share-Vaq .images-3sF .auto-group-htns-ByT {
  width: 74.1rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF .auto-group-htns-ByT .auto-group-jnaf-YJD {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 38.2rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF .auto-group-htns-ByT .auto-group-jnaf-YJD .auto-group-nyjx-VUM {
  margin-right: 1.6rem;
  width: 27.4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF .auto-group-htns-ByT .auto-group-jnaf-YJD .auto-group-nyjx-VUM .rectangle-35-eMF {
  width: 27.4rem;
  height: 31.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #c4c4c4;
}
.home-dKw .share-Vaq .images-3sF .auto-group-htns-ByT .auto-group-jnaf-YJD .auto-group-nyjx-VUM .rectangle-36-zg1 {
  width: 27.4rem;
  height: 38.2rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.home-dKw .share-Vaq .images-3sF .auto-group-htns-ByT .auto-group-jnaf-YJD .rectangle-38-w5T {
  width: 45.1rem;
  height: 31.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF .auto-group-htns-ByT .auto-group-v53z-Ur5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF .auto-group-htns-ByT .auto-group-v53z-Ur5 .rectangle-37-dys {
  margin-right: 1.6rem;
  width: 38.1rem;
  height: 32.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF .auto-group-htns-ByT .auto-group-v53z-Ur5 .rectangle-39-BEh {
  width: 34.4rem;
  height: 24.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF .auto-group-que7-hyj {
  box-sizing: border-box;
  padding: 1.4rem 0rem 1.6rem 1.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF .auto-group-que7-hyj .rectangle-40-3Xo {
  margin: 0rem 1.6rem 1.5rem 0rem;
  width: 29.5rem;
  height: 39.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF .auto-group-que7-hyj .auto-group-ekfv-aXj {
  width: 73.1rem;
  height: 100%;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF .auto-group-que7-hyj .auto-group-ekfv-aXj .auto-group-svnb-8ZF {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.home-dKw .share-Vaq .images-3sF .auto-group-que7-hyj .auto-group-ekfv-aXj .auto-group-svnb-8ZF .rectangle-43-gqf {
  margin-right: 1.6rem;
  width: 29rem;
  height: 34.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF .auto-group-que7-hyj .auto-group-ekfv-aXj .auto-group-svnb-8ZF .rectangle-45-EMP {
  width: 42.5rem;
  height: 43.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF .auto-group-que7-hyj .auto-group-ekfv-aXj .auto-group-jqef-BGd {
  margin-right: 27.9rem;
  width: calc(100% - 27.9rem);
  display: flex;
  align-items: flex-start;
}
.home-dKw .share-Vaq .images-3sF .auto-group-que7-hyj .auto-group-ekfv-aXj .auto-group-jqef-BGd .rectangle-41-L9X {
  margin-right: 1.6rem;
  width: 17.8rem;
  height: 24.2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .images-3sF .auto-group-que7-hyj .auto-group-ekfv-aXj .auto-group-jqef-BGd .rectangle-44-UWd {
  width: 25.8rem;
  height: 19.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .title-p4h {
  width: 35.7rem;
  height: 8.6rem;
  position: absolute;
  left: 52.45rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home-dKw .share-Vaq .title-p4h .title-9sf {
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #606060;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .share-Vaq .title-p4h .title-Hiy {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #3a3a3a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .footer-DsX {
  box-sizing: border-box;
  padding: 4.8rem 9.999rem 3.8rem 10rem;
  width: 100%;
  height: 50.5rem;
  border: solid 0 rgba(0, 0, 0, 0.1700000018);
  background-color: #ffffff;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B {
  margin: 0rem 10.7rem 4.8rem 0rem;
  width: calc(100% - 10.7004rem);
  height: 31.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .auto-group-hj6f-TWy {
  margin-right: 23.8rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .auto-group-hj6f-TWy .javaarchi-cPs {
  margin-bottom: 5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .auto-group-hj6f-TWy .smk-media-informatika-xCq {
  margin-left: 0.2008rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq {
  margin-right: 7.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq .group-26-1S1 {
  margin-right: 14.4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq .group-26-1S1 .links-Mkm {
  margin-bottom: 5.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq .group-26-1S1 .group-24-Vry {
  margin-left: 0.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq .group-26-1S1 .group-24-Vry .home-3db {
  margin-bottom: 4.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq .group-26-1S1 .group-24-Vry .service-Nvm {
  margin-bottom: 4.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq .group-26-1S1 .group-24-Vry .about-XHs {
  margin-bottom: 4.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq .group-26-1S1 .group-24-Vry .contact-TSR {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq .group-27-zSM {
  width: 14rem;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq .group-27-zSM .help-kRX {
  margin-bottom: 5.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq .group-27-zSM .group-25-Ve1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq .group-27-zSM .group-25-Ve1 .payment-options-4BK {
  margin-bottom: 4.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq .group-27-zSM .group-25-Ve1 .returns-bh3 {
  margin-bottom: 4.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-28-FSq .group-27-zSM .group-25-Ve1 .privacy-policies-wku {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-30-suT {
  margin-top: 0.2rem;
  width: 28.6003rem;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-30-suT .newsletter-Rvy {
  margin-bottom: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-30-suT .group-29-NLR {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-30-suT .group-29-NLR .auto-group-jmz3-8aV {
  margin: 0rem 0rem 0.3rem 0rem;
  width: calc(100% - 0.0003rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-30-suT .group-29-NLR .auto-group-jmz3-8aV .enter-your-email-address-4j3 {
  margin-right: 3.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #9f9f9f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-30-suT .group-29-NLR .auto-group-jmz3-8aV .subscribe-CqF {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-32-j5B .group-31-ged .group-30-suT .group-29-NLR .auto-group-lwrw-x3j {
  width: 100%;
  height: 0.1rem;
  border-top: solid 0.1rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.home-dKw .footer-DsX .group-45-AGy .group-44-FoX {
  margin-left: 0rem;
  box-sizing: border-box;
  padding: 3.5rem 0.201rem 0rem 0.201rem;
  width: calc(100% - 0rem);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border-top: solid 0.1rem #d9d9d9;
  flex-shrink: 0;
}
